@charset "UTF-8";
*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
figure,
blockquote,
dl,
dd {
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

ul[class],
ol[class] {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img,
picture {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

img:not([alt]) {
  filter: blur(10px);
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* @include positon($t: 0); => position: absolute; top: 0;
/* @include positon($t: 0, $l: 100%); => position: absolute; top: 0; left: 100%;
/* @include positon($v: 0); => position: absolute; top: 0; right: 0; bottom: 0; left: 0;
---------------------------- */
/* tag change by hash */
[id*="tg-hs-"],
[id*="-tg-hs-"] ~ .tg-gps > [class|="tg-hs"],
[id*="-tg-hs-"]:nth-child(n + 2).no-header:target ~ .tg-gps > header,
[id*="-tg-hs-"]:nth-child(n + 2).no-footer:target ~ .tg-gps > footer,
[id*="-tg-hs-"]:target ~ .tg-gps > [class|="tg-hs"] {
  display: none;
}

[id*="-tg-hs-"] ~ .tg-gps > .tg-hs-1,
[id$="-tg-hs-9"]:target ~ .tg-gps > .tg-hs-9,
[id$="-tg-hs-8"]:target ~ .tg-gps > .tg-hs-8,
[id$="-tg-hs-7"]:target ~ .tg-gps > .tg-hs-7,
[id$="-tg-hs-6"]:target ~ .tg-gps > .tg-hs-6,
[id$="-tg-hs-5"]:target ~ .tg-gps > .tg-hs-5,
[id$="-tg-hs-4"]:target ~ .tg-gps > .tg-hs-4,
[id$="-tg-hs-3"]:target ~ .tg-gps > .tg-hs-3,
[id$="-tg-hs-2"]:target ~ .tg-gps > .tg-hs-2,
[id$="-tg-hs-1"]:target ~ .tg-gps > .tg-hs-1 {
  display: block;
}

/* tag toogle by hash end */
footer > nav {
  text-align: center;
}

/* config */
:root {
  --container-maxwith: 58rem;
  --copyright-year: "© 2020";
  --miit-beian: "某icp备 198400860996";
}

.doc-main > * {
  outline: 1px solid #ba988d;
  margin: 2px;
  padding: 2px;
}

.doc-main > *:nth-child(1) {
  outline-color: #e57a93;
}

.doc-main > *:last-child {
  outline-color: #5931ca;
}

.doc-main > footer {
  display: grid;
  grid-template-rows: auto 1fr auto;
  text-align: center;
}

.doc-main > footer > nav > a {
  margin-right: 3px;
  text-decoration: none;
  border-bottom: 1px solid #bbb;
}

.doc-main > footer > nav > a[href^="#"]:empty:before {
  vertical-align: baseline;
  max-width: 120px;
  display: inline-block;
  max-height: 1.2rem;
  overflow: hidden;
  content: attr(href) " ";
}

.doc-main > footer > .copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 2rem;
}

.doc-main > footer > .miit_beian {
  font-size: xx-small;
  height: 1rem;
  line-height: 1rem;
}

.doc-main > footer > .miit_beian > a {
  display: inline-block;
  transform: scale(0.8);
  text-transform: uppercase;
  text-decoration: none;
}

.doc-main > footer > .miit_beian > a:before {
  content: var(--miit-beian);
}

.t {
  color: rgba(121, 142, 13, 0.3);
}
