/* @include positon($t: 0); => position: absolute; top: 0;
/* @include positon($t: 0, $l: 100%); => position: absolute; top: 0; left: 100%;
/* @include positon($v: 0); => position: absolute; top: 0; right: 0; bottom: 0; left: 0;
---------------------------- */
.wrapper input.p {
  /* ... */
  color: red;
}

.wrapper select.p {
  /* ... */
}

.t33 {
  --a: hs;
  --a: tg-hs;
  --d: 1;
  --e: string;
  --b: true;
  --c: true;
}
